* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.main_page {
  background-image: url(../img/slider/slider-01.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.color_overlay {
  background-color: #070707;
  height: 100vh;
  opacity: 0.8;
}
.main_page .navbar .links {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.main_page .navbar .links .justify {
  margin-right: 40%;
}
.main_page .navbar .links .space {
  margin-right: 120px;
}
.main_page .navbar a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  transition: 0.8s;
}
.main_page .navbar a:hover {
  color: #ff305b;
}
.main_page .navbar .col {
  color: #ff305b;
}
.main_page .navbar .links .justify a {
  font-weight: 800;
  font-size: 24px;
  line-height: 25px;
  color: #ff305b;
}
.main_page .navbar .links ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 10px;
}
.main_page .main_content {
  text-align: center;
  color: white;
  margin-top: 32vh;
  font-family: "Source Sans Pro", sans-serif;
}
.main_page .main_content h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}
.main_page .main_content h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 77px;
  color: #ff305b;
  margin: 20px;
}
.main_page .main_content p {
  font-weight: 300;
  font-size: 26px;
  line-height: 31px;
  position: relative;
}
.main_page .main_content p::after {
  content: "Designer";
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
@keyframes change {
  from {
    content: "Designer";
  }
  to {
    content: "Developer";
  }
}
.about_page {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}
.about_page .profile {
  margin-bottom: 15vh;
  position: relative;
  overflow: hidden;
}
.about_page .bord {
  background-color: white;
  border: 8px solid rgb(87, 86, 86);
  border-radius: 6px;
  height: 60vh;
  width: 350px;
  position: absolute;
  top: 111.5vh;
  left: 15.2%;
}
.about_page .profile img {
  width: 100%;
  height: 100%;
}
.about_page .profile .overlay {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.57);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_page .profile .overlay a {
  margin: 10px;
  color: white;
  transition: 0.8s;
}
.about_page .profile .overlay a:hover {
  color: #ff305b;
}
.about_page .profile:hover .overlay {
  opacity: 0.9;
  top: 0%;
}
.about_page .caption h2 {
  margin-left: 85px;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 22px;
  color: #333333;
}
.about_page .caption h2::before {
  content: "";
  background-color: #ff305b;
  position: absolute;
  left: -3%;
  height: 22px;
  width: 4px;
}
.about_page .caption p {
  border-bottom: 1px dotted #555555;
  padding: 15px 0px;
  margin-left: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #555555;
}
.about_page .caption ul li {
  list-style: none;
  margin: 25px 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: black;
}
.about_page .caption ul li span {
  color: #555555;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.box {
  display: flex;
}
.about_page .caption button {
  margin: 15px 0px 20px 70px;
  background-color: rgb(255, 48, 91);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.8s;
}
.about_page .caption a {
  text-decoration: none;
  margin: 15px 0px 20px 10px;
  padding: 12.5px 30px;
  border-radius: 4px;
  background-color: rgb(255, 48, 91);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  transition: 0.5s;
}
.about_page .caption button:hover {
  background-color: #ff0000;
}
.about_page .caption a:hover {
  background-color: #ff0000;
}
.services_page {
  background-color: #f1f1f1;
  text-align: center;
  padding-bottom: 10vh;
}
.services_page h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 30px;
  color: #333333;
  padding-top: 10vh;
  position: relative;
}
.services_page h2::before {
  content: "";
  position: absolute;
  top: 17vh;
  left: 47%;
  background-color: #ff305b;
  width: 90px;
  height: 1px;
}
.services_page h2::after {
  content: "";
  position: absolute;
  top: 18.8vh;
  left: 47%;
  background-color: #ff305b;
  width: 90px;
  height: 1px;
}
.line {
  background-color: #ff305b;
  width: 180px;
  height: 1px;
  margin: auto;
  margin-top: 30px;
}
.items {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}
.item1 {
  background-image: url(../img/items/toolsb.png);
  background-repeat: no-repeat;
  background-position: top;
  transition: 0.4s;
}
.item2 {
  background-image: url(../img/items/calenb.png);
  background-repeat: no-repeat;
  background-position: top;
  transition: 0.4s;
}
.item3 {
  background-image: url(../img/items/planb.png);
  background-repeat: no-repeat;
  background-position: top;
  transition: 0.4s;
}
.item4 {
  background-image: url(../img/items/settingb.png);
  background-repeat: no-repeat;
  background-position: top;
  transition: 0.4s;
}
.items h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #333333;
  margin: 80px 10px 20px;
}
.items img {
  width: 70px;
  margin-top: 40px;
}
.items p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #555555;
  margin: 10px 40px 40px 40px;
}
.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover {
  background-color: white;
  transform: scale(1.1);
  cursor: pointer;
}
.item1:hover {
  background-image: url(../img/items/toolsw.png);
}
.item2:hover {
  background-image: url(../img/items/calenw.png);
}
.item3:hover {
  background-image: url(../img/items/planw.png);
}
.item4:hover {
  background-image: url(../img/items/settingw.png);
}
.portfolio_page {
  text-align: center;
}
.portfolio_page h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 30px;
  color: #333333;
  padding-top: 10vh;
  position: relative;
}
.portfolio_page h2::before {
  content: "";
  position: absolute;
  top: 17vh;
  left: 47%;
  background-color: #ff305b;
  width: 90px;
  height: 1px;
}
.portfolio_page h2::after {
  content: "";
  position: absolute;
  top: 18.8vh;
  left: 47%;
  background-color: #ff305b;
  width: 90px;
  height: 1px;
}
.portfolio_page .links {
  margin-top: 50px;
}
.portfolio_page a {
  text-decoration: none;
  color: #333333;
  padding: 15px;
}
.portfolio_page .images_top {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}
.portfolio_page .images_down {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  margin-bottom: 75px;
}
.portfolio_page img {
  width: 70%;
  height: 100%;
}
.portfolio_page .col {
  color: #ff305b;
}
.portfolio_page .images_top .img1 {
  position: relative;
  overflow: hidden;
  width: 30%;
}
.portfolio_page .images_top .img1 .overlay {
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 0;
  height: 100%;
  width: 70%;
  opacity: 0;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.57);
  color: #ff305b;
  padding-left: 60%;
  padding-top: 45%;
}
.portfolio_page .images_top .img1:hover .overlay {
  opacity: 0.9;
}
.portfolio_page .images_top .img2 {
  position: relative;
  overflow: hidden;
  width: 30%;
}
.portfolio_page .images_top .img2 .overlay {
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 0;
  height: 100%;
  width: 70%;
  opacity: 0;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.57);
  color: #ff305b;
  padding-left: 60%;
  padding-top: 45%;
}
.portfolio_page .images_top .img2:hover .overlay {
  opacity: 0.9;
}
.portfolio_page .images_top .img3 {
  position: relative;
  overflow: hidden;
  width: 30%;
}
.portfolio_page .images_top .img3 .overlay {
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 0;
  height: 100%;
  width: 70%;
  opacity: 0;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.57);
  color: #ff305b;
  padding-left: 60%;
  padding-top: 45%;
}
.portfolio_page .images_top .img3:hover .overlay {
  opacity: 0.9;
}
.portfolio_page .images_down .img4 {
  position: relative;
  overflow: hidden;
  width: 30%;
  margin-left: 5%;
}
.portfolio_page .images_down .img4 .overlay {
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 0;
  height: 100%;
  width: 70%;
  opacity: 0;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.57);
  color: #ff305b;
  padding-left: 60%;
  padding-top: 45%;
}
.portfolio_page .images_down .img4:hover .overlay {
  opacity: 0.9;
}
.portfolio_page .images_down .img5 {
  position: relative;
  overflow: hidden;
  width: 30%;
}
.portfolio_page .images_down .img5 .overlay {
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 0;
  height: 100%;
  width: 70%;
  opacity: 0;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.57);
  color: #ff305b;
  padding-left: 60%;
  padding-top: 45%;
}
.portfolio_page .images_down .img5:hover .overlay {
  opacity: 0.9;
}
.portfolio_page .images_down .img6 {
  position: relative;
  overflow: hidden;
  width: 30%;
  margin-right: 5%;
}
.portfolio_page .images_down .img6 .overlay {
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 0;
  height: 100%;
  width: 70%;
  opacity: 0;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.57);
  color: #ff305b;
  padding-left: 60%;
  padding-top: 45%;
}
.portfolio_page .images_down .img6:hover .overlay {
  opacity: 0.9;
}
.portfolio_page i {
  font-size: 20px;
}
.icons_page {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  padding: 80px;
}
.icons_page i {
  color: #ff305b;
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.icons_page h3 {
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 10px;
}
.icons_page p {
  color: #555555;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}
.testimonial_page h2 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 30px;
  color: #333333;
  padding-top: 80px;
  position: relative;
}
.testimonial_page h2::before {
  content: "";
  position: absolute;
  top: 17.5vh;
  left: 47%;
  background-color: #ff305b;
  width: 90px;
  height: 1px;
}
.testimonial_page h2::after {
  content: "";
  position: absolute;
  top: 19.3vh;
  left: 47%;
  background-color: #ff305b;
  width: 90px;
  height: 1px;
}
.testimonial_page .feedback {
  background: linear-gradient(135deg, #ff305b 15%, #f1f1f1 15%);
  width: 50%;
  margin: auto;
  border-radius: 5px;
  margin-top: 40px;
  height: 35vh;
}
.testimonial_page .feedback .user_img {
  float: left;
  width: 15%;
  margin-left: 5%;
  margin-top: 5%;
}
.testimonial_page .feedback .para {
  width: 80%;
  float: left;
  margin-top: 5%;
}
.testimonial_page .feedback .user_img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.testimonial_page .feedback h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 10px;
}
.testimonial_page .feedback .para a {
  color: #777777;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
}
.testimonial_page .feedback .para p {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #555555;
  margin: 10px 0px;
}
.testimonial_page .feedback .para .stars {
  color: #f1c30d;
  cursor: pointer;
}
.testimonial_page .shape_parent {
  margin: auto;
  width: 20%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 80px;
}
.testimonial_page .shape {
  background-color: #ff305b;
  width: 25px;
  height: 9px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.testimonial_page .circular {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #ff305b;
  margin-top: 5px;
  cursor: pointer;
}
.our_blog_page {
  background-color: #f1f1f1;
}
.our_blog_page h2 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 30px;
  color: #333333;
  padding-top: 80px;
  position: relative;
}
.our_blog_page h2::before {
  content: "";
  position: absolute;
  top: 17.5vh;
  left: 47%;
  background-color: #ff305b;
  width: 90px;
  height: 1px;
}
.our_blog_page h2::after {
  content: "";
  position: absolute;
  top: 19.3vh;
  left: 47%;
  background-color: #ff305b;
  width: 90px;
  height: 1px;
}
.our_blog_page .cards {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.our_blog_page .card {
  width: 24%;
  background-color: white;
  margin-right: 30px;
  margin-bottom: 80px;
}
.our_blog_page .card img {
  width: 100%;
  height: 200px;
}
.our_blog_page .card iframe {
  width: 100%;
  height: 200px;
  border: none;
}
.our_blog_page p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #555555;
  margin: 20px;
}
.our_blog_page h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 16px;
  color: #333333;
  margin: 20px;
  transition: 0.8s;
}
.our_blog_page h3:hover {
  color: #ff305b;
  cursor: pointer;
}
.our_blog_page a {
  text-decoration: none;
  color: #555555;
  margin: 20px;
  transition: 0.8s;
}
.our_blog_page a:hover {
  color: #ff305b;
}
.readmore {
  margin-bottom: 30px;
}
.contact_page {
  padding-top: 40px;
}
.contact_page h2 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 30px;
  color: #333333;
  padding-top: 80px;
  position: relative;
}
.contact_page h2::before {
  content: "";
  position: absolute;
  top: 17.5vh;
  left: 47%;
  background-color: #ff305b;
  width: 90px;
  height: 1px;
}
.contact_page h2::after {
  content: "";
  position: absolute;
  top: 19.3vh;
  left: 47%;
  background-color: #ff305b;
  width: 90px;
  height: 1px;
}
.contact_page .formm {
  margin-top: 40px;
}
.contact_page .ne {
  display: flex;
  justify-content: center;
}
.contact_page .ne input {
  margin: 1%;
  margin-bottom: 30px;
  width: 24%;
  height: 40px;
}
.contact_page input {
  width: 50%;
  display: block;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.contact_page textarea {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  height: 80px;
}
.contact_page button {
  margin: 20px 25% 80px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: white;
  background-color: #ff305b;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.8s;
}
.contact_page button:hover{
  background-color: #EC2403;
}
.footer {
  background-color: #333333;
}
.footer .icons {
  display: flex;
  justify-content: center;
  padding-top: 80p;
}
.footer .icons i {
  margin-right: 30px;
  color: white;
  margin-top: 80px;
  transition: 0.8s;
}
.footer p {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 80px;
}
.theme {
  color: #ff305b;
  text-decoration: none;
}
.footer .icons i:hover {
  color: #ff305b;
}

